body {
  font-family: Arial, sans-serif;
  background: #f9f9f9;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: auto;
  padding: 20px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.post-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
}
.post-list h3{
  font-weight: 100;
}
.container h2{
  font-size: 30px;
  font-weight: 600;
}

.card, .comment-card {
  background: white;
  padding: 13px;
  border-radius: 10px;
  border: 1px solid black;
}

.btn {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 12px;
  background: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background: #0056b3;
}
.comments {
  display: grid;
  gap: 20px;
}